<div class="container">
    <nav class="navbar navbar-light bg-success-light">Details</nav>

    <br>

    <form [formGroup]="form">

      <div class="form-row">

        <div class="form-group col-md-4 input-group-sm">
          <label for="inputIdentification">Identification</label>
          <input type="number" class="form-control" id="inputIdentification" formControlName="identification">
        </div>

        <div class="form-group col-md-4 input-group-sm">
          <label for="input1">Input1</label>
          <input type="text" class="form-control" id="input1" formControlName="input1">
        </div>


        <div class="form-group col-md-4 input-group-sm">
          <label for="input2">Input2</label>
          <input type="text" class="form-control" id="input2" formControlName="input2">
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-10 input-group-sm">
          <label for="input3">Input3</label>
          <input type="text" class="form-control" id="input3" formControlName="input3">
        </div>

        <div class="form-group col-md-2 input-group-sm">
          <label for="input4">Input4</label>
          <input type="text" class="form-control" id="input4" formControlName="input4">
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-8 input-group-sm">
          <label for="input5">Input5</label>
          <input type="text" class="form-control" id="input5" formControlName="input5">
        </div>

        <div class="form-group col-md-4 input-group-sm">
          <label for="input6">Input6</label>
          <input type="text" class="form-control" id="input6" formControlName="input6">
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6 input-group-sm">
          <label for="input7">Input7</label>
          <input type="text" class="form-control" id="input7" formControlName="input7">
        </div>

        <div class="form-group col-md-3 input-group-sm">
          <label for="input8">Input8</label>
          <input type="text" class="form-control" id="input8" formControlName="input8">
        </div>

        <div class="form-group col-md-3 input-group-sm">
          <label for="input9">Input9</label>
          <input type="text" class="form-control" id="input9" formControlName="input9">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 input-group-sm">
          <label for="input10">Input10</label>
          <input type="text" class="form-control" id="input10" formControlName="input10">
        </div>

        <div class="form-group col-md-4 input-group-sm">
          <label for="input11">Input11</label>
          <input type="text" class="form-control" id="input11" formControlName="input11">
        </div>

        <div class="form-group col-md-4 input-group-sm">
          <label for="input12">Input12</label>
          <input type="text" class="form-control" id="input12" formControlName="input12">
        </div>
      </div>

    </form>

    <br>

</div>

