<nav class="navbar navbar-light bg-success">
    <i class="fa fa-arrow-circle-left back-button" routerLink=""></i>
    <a class="navbar-brand">Manage Client</a>
</nav>

<br>

<div class="container">

  <form [formGroup]="form" (ngSubmit)="createClient()">

    <div class="form-group row">
        <label for="inputLastName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Last Name</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">First Name</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDateOfBirth" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Date of Birth</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input type="date" class="form-control" id="inputDateOfBirth" formControlName="dateOfBirth">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputIdentification" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Identification</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <input type="number" class="form-control" id="inputIdentification" formControlName="identification">
        </div>
    </div>

    <div class="text-center">
      <div style="margin-bottom: 16px;">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">{{clientService.selectedClient ? 'Edit Client' : 'Create Client'}}</button>
        <button type="button" class="btn btn-info" (click)="isSearchFormDisplayed = !isSearchFormDisplayed">Find Client</button>
      </div>

      <div>
        <button type="button" id="delete" class="btn btn-success btn-danger" *ngIf="clientService.selectedClient" (click)="deleteClient()">Delete Client</button>
      </div>
    </div>

  </form>

    <ng-container *ngIf="isSearchFormDisplayed">

      <br>

      <div class="text-center">
          <h2>Select client for editing</h2>
      </div>

      <br>

      <div class="row">
        <label for="inputSelectClient" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Full Name</label>
        <div class="col-sm-8 col-md-9 col-lg-10">
          <app-clients-dropdown [clients]="clients"></app-clients-dropdown>
        </div>
      </div>
    </ng-container>


</div>
