<nav class="navbar navbar-light bg-success-light">Tabular</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">TabularInput1</th>
      <th scope="col">TabularInput2</th>
      <th scope="col">TabularInput3</th>
      <th scope="col">TabularInput4</th>
      <th scope="col">TabularInput5</th>
      <th scope="col">TabularInput6</th>
      <th scope="col">TabularInput7</th>
      <th scope="col">TabularInput8</th>
      <th scope="col">TabularInput9</th>
      <th scope="col">TabularInput10</th>
      <th scope="col">TabularInput11</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="input-group-sm"><input type="date" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
      <td class="input-group-sm"><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td class="input-group-sm"><input type="date" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
        <td class="input-group-sm"><input type="text" class="form-control"></td>
      </tr>
      <tr>
          <td class="input-group-sm"><input type="date" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
          <td class="input-group-sm"><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td class="input-group-sm"><input type="date" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
            <td class="input-group-sm"><input type="text" class="form-control"></td>
          </tr>
          <tr>
              <td class="input-group-sm"><input type="date" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
              <td class="input-group-sm"><input type="text" class="form-control"></td>
            </tr>

  </tbody>
</table>



<br>
