/* You can add global styles to this file, and also import other style files */

.navbar-brand {
  margin-left: 1rem;
  user-select: none;
  cursor: default;
}

.back-button {
  font-size: 40px;
  cursor: pointer;
  outline: 0;
}

.bg-success {
  background-color: #6fb139 !important;
}

.bg-success-light {
  background-color: #d9f1c4;
}

/* Remove increment buttons on number inputs */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.dropdown-menu {
  width: 100%;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-item:focus {
  outline: 5px auto var(--blue);
}

